{;; ---------------------------------------------------------
 :paths
 ["src" "resources"]
 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 :deps
 {;; Service
  http-kit/http-kit  {:mvn/version "2.8.0"}  
  metosin/reitit     {:mvn/version "0.7.0"}
  metosin/reitit-dev {:mvn/version "0.7.0"} ; human readable exceptions

  ;; Logging
  ;; create events and send to publisher
  com.brunobonacci/mulog             {:mvn/version "0.9.0"}
  ;; JSON Console out support
  com.brunobonacci/mulog-adv-console {:mvn/version "0.9.0"}
  ;; Optional: suppress slf4j warning 
  org.slf4j/slf4j-nop {:mvn/version "1.7.32"}
  ;; PostgreSQL
  org.postgresql/postgresql {:mvn/version "42.7.4"}
  ;; Datomic
  com.datomic/peer     {:mvn/version "1.0.7187"}
  ;; Testing
  nubank/matcher-combinators {:mvn/version "3.9.1"}
  com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
  ;; System
  aero/aero           {:mvn/version "1.1.6"}
  party.donut/system  {:mvn/version "0.0.241"}
  org.clojure/clojure {:mvn/version "1.12.0"}
  
  org.clojure/core.match {:mvn/version "1.1.0"}
  cheshire/cheshire {:mvn/version "5.13.0"}
  com.gfredericks/test.chuck {:mvn/version "0.2.13"}}
 ;; ---------------------------------------------------------

 ;; ---------------------------------------------------------
 :aliases
 {
  :dev {:extra-paths ["dev"]
        :extra-deps {djblue/portal {:mvn/version "0.57.3"}
                     hato/hato {:mvn/version "1.0.0"}}}
  ;; ------------
  ;; Clojure.main execution of application
  :run/service
  {:main-opts ["-m" "sanatoriocolegiales.logging-servoy.service"]}

  ;; Clojure.exec execution of specified function
  :run/greet
  {:exec-fn   sanatoriocolegiales.logging-servoy.service/greet
   :exec-args {:name "Clojure"}}
  ;; ------------

  ;; ------------
  ;; Add libraries and paths to support additional test tools
  :test/env
  {}

  ;; Test runner - local and CI
  ;; call with :watch? true to start file watcher and re-run tests on saved changes
  :test/run
  {:jvm-opts ["-Dhyperfiddle.rcf.generate-tests=true"]
   :extra-paths ["test"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts   ["-m" "kaocha.runner"]
   :exec-fn     kaocha.runner/exec-fn
   :exec-args   {:randomize? false
                 :fail-fast? true}}
  ;; ------------

  ;; ------------
  ;; tools.build `build.clj` built script
  :build/task
  {:replace-paths ["."]
   :replace-deps  {io.github.clojure/tools.build {:mvn/version "0.10.3"}}
   :ns-default    build}}}
  ;; ------------
 ;; ---------------------------------------------------------
